Curso1/pipeline/pl_ejerciciocargadatasantiagos.json
{
	"name": "pl_ejerciciocargadatasantiagos",
	"properties": {
		"activities": [
			{
				"name": "ExtraeValoresColumna",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT distinct @{pipeline().parameters.ColumnaFiltro} as location_type from orden where location_type is not null",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Tbl_ServerTableSS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "RecorreValores",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ExtraeValoresColumna",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('ExtraeValoresColumna').output.value)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "pl_ejerciciocolumnassantiagos",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ejerciciocolumnasantiagos",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"LocationType": "@item().location_type"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ColumnaFiltro": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Ejercicios"
		},
		"annotations": []
	}
}