Curso1/pipeline/pl_ejerciciosantiagos.json
{
	"name": "pl_ejerciciosantiagos",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT distinct location_type from orden where location_type is not null",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Tbl_ServerTableSS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Lookup1').output.value)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "pl_ejerciciosantiagos",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ejerciciolocacionsantiagos",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"LocationType": "@item().LocationType"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FechaDesde": {
				"type": "string"
			},
			"FechaHasta": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Ejercicios"
		},
		"annotations": []
	}
}