Curso1/pipeline/pl_PAR_IMPAR.json
{
	"name": "pl_PAR_IMPAR",
	"properties": {
		"activities": [
			{
				"name": "VariableParImpar",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EsPar",
					"value": {
						"value": "@equals(mod(pipeline().parameters.Numero,2),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "VariableParImpar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('EsPar')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Numero": {
				"type": "int"
			}
		},
		"variables": {
			"EsPar": {
				"type": "Boolean"
			}
		},
		"annotations": []
	}
}