Curso1/pipeline/pl_PAR_IMPAR.json
{
	"name": "pl_PAR_IMPAR",
	"properties": {
		"activities": [
			{
				"name": "VariableParImpar",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EsPar",
					"value": {
						"value": "@equals(mod(pipeline().parameters.Numero,2),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set VariableParImpar",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "VariableParImpar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('EsPar')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Mensaje",
								"value": {
									"value": "El numero  {@pipeline().parameters.Numero} es Impar",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set Mensaje",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Mensaje",
								"value": {
									"value": "El numero  {@pipeline().parameters.Numero} es Par",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Numero": {
				"type": "int"
			}
		},
		"variables": {
			"EsPar": {
				"type": "Boolean"
			},
			"Mensaje": {
				"type": "String"
			}
		},
		"annotations": []
	}
}